.all {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  position: relative;
  width: 30vw;
  height: 20vw;
  border-radius: 2%;
  border: 2px solid #191919;
  overflow: hidden;
}

.title {
  margin-top: 2%;
  font-size: 2vw;
}

.aboutme {
  margin-top: 1%;
  font-size: 1.3vw;
}

.contact {
  margin-top: .2%;
  font-size: 1.2vw;
}

.link:hover {
  color: grey;
}