html,
body {
  background-color: #212129;
  color: aliceblue;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#classmates-card {
  background-color: #131523;
}

#val-card {
  background-color: rgba(21, 31, 43, 0.9);
  /* background-image: radial-gradient(rgba(21, 31, 43, 0.9), #212129);
  border: 0; */
}

#kloth-card {
  background-color: #1e140b;
}

#klothapi-card {
  background-color: #191919;
}