.all {
  color: aliceblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cardDiv {
  width: 100%;
  justify-content: center;
  display: flex;
}


.card:hover {
  height: 16vw;
  width: 73%;
}
.card {
  color: aliceblue;
  background-color: #121212;
  margin-top: 5%;
  width: 70%;
  height: 15vw;
  border-radius: 5px;
  transition: height 1s, width 1s;
  cursor: pointer;
  /* display: flex; */
}
.card:hover .title {
  font-size: 1.3vw;
  left: 43%;
}
.card:hover .description {
  font-size: 1.1vw;
  left: 43%;
}
.card:hover .Klothtitle {
  font-size: 1.3vw;
  left: 43%;
}
.card:hover .Klothdescription {
  font-size: 1.1vw;
  left: 43%;
}
.card:hover .gif {
  width: 41%;
}
.card:hover .klothGif {
  width: 41%;
}


.gif {
  /* border-radius: 15px; */
  height: 100%;
  width: 40%;
  /* top: 5%; */
  left: 1%;
  /* right: 30%; */
  position: relative;
  overflow: hidden;
  transition: width 1s;
}

.title {
  position: relative;
  left: 42%;
  bottom: 95%;
  font-size: 1.2vw;
  font-weight: bold;
  transition: font-size 1s, left 1s;
  color: aliceblue;
}

.description {
  position: relative;
  left: 42%;
  bottom: 85%;
  width: 50%;
  font-size: 1vw;
  color: aliceblue;
  /* overflow-wrap: break-word; */
  transition: font-size 1s, left 1s;
}

/* #classmates-card {
  background-color: aliceblue;
} */

/* ---------------------------KLOTH STUFF--------------------------- */
.klothGif {
  /* border-radius: 15px; */
  height: 93%;
  width: 40%;
  top: 3%;
  /* left: 1%; */
  /* right: 30%; */
  position: relative;
  overflow: hidden;
  transition: width 1s;
}

.Klothtitle {
  position: relative;
  left: 42%;
  bottom: 90%;
  font-size: 1.2vw;
  font-weight: bold;
  transition: font-size 1s, left 1s;
  color: aliceblue;
}

.Klothdescription {
  position: relative;
  left: 42%;
  bottom: 80%;
  width: 50%;
  font-size: 1vw;
  /* overflow-wrap: break-word; */
  transition: font-size 1s, left 1s;
  color: aliceblue;
}